name: Deploy Website with Data

on:
  schedule:
    - cron: "0 0 * * *" # Runs daily at midnight
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.9"

      - name: Install dependencies
        run: pip install requests

      - name: Generate Data
        env:
          GITHUB_TOKEN: ${{ secrets.GH_PAT }}
        run: |
          if [ $(( $RANDOM % 100 )) -gt 15 ]; then
            echo "Skipping update today to keep the activity graph natural."
            exit 0
          fi
          SLEEP_TIME=$(( $RANDOM % 40000 ))
          echo "Sleeping for $SLEEP_TIME seconds before starting..."
          sleep $SLEEP_TIME
          python generate_data.py # This creates data.json in the current folder

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./
          publish_branch: gh-pages
